<div id="skills">

  <h2 id="headerh2">SKILLS</h2>

  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
      <span><img src="../../assets/icons/material.png"></span>
      <mat-card-title>&nbsp;Material Design</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><img src="../../assets/icons/angular.png"></span>
      <mat-card-title>Angular</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><img src="../../assets/icons/github.png"></span>
      <mat-card-title>&nbsp;Github</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><img src="../../assets/icons/microsoft.png"></span>
      <mat-card-title>&nbsp;Microsft Suite</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><img src="../../assets/icons/bitbucket.png"></span>
      <mat-card-title>&nbsp;BitBucket</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><img src="../../assets/icons/sqlServer.png"></span>
      <mat-card-title>&nbsp;SQL Server</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><img src="../../assets/icons/google.png"></span>
      <mat-card-title>&nbsp;Google Services</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><img src="../../assets/icons/boostrap.png"></span>
      <mat-card-title>&nbsp;Boostrap</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <span><img src="../../assets/icons/javascript.png"></span>
      <mat-card-title>&nbsp;JavaScript</mat-card-title>
    </mat-grid-tile>
  </mat-grid-list>

</div>
